body {
    background-color: aqua;
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align-last: center;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: turquoise;
}